.app {
  background: black;
  padding: 50px;
  height: 100vh;
}

.todo-list {
  background: #701111;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  font-size: 12px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100px;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
}